<%= content_for :page_title, 'Welcome to my Blog!' %>
<div class="section">
  <div class="container">
    <% @post.each do |post| %>
      <div class="card">
          <%= link_to image_tag(post.cover_picture, :size => "600x600", :class => "img-preview"), post %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title ls-4"> <%= link_to post.title, post %> </p>
              </div>
            </div>
            <div class="content">
              <p><%= post.content %></p>
              <p class="has-text-right bold"><%= link_to pluralize(post.comments.count, 'Comment', 'Comments'), post_path(post, anchor: "comments") %></p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

